#outer{
    height: 150px;
    width: 150px;
    border: 16px solid rgb(184, 157, 157);
    border-radius: 50%;
    border-right: 16px solid rgb(154, 115, 16);
    animation: myloader 1s linear 0.2s 3 normal ;
}
@keyframes myloader{
    0%{
            transform: rotate(0 deg);
    }
    100%{
        transform: rotate(360deg);

    }
    
}