<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>ADD</h1>

    <form method="post" action="/chats/added">

        <input type="text" name="from" placeholder="FROM: ">
        <br><br>
         <input type="text" name="to" placeholder="TO: ">
         <br><br>
          <textarea name="msg" placeholder="Write message" rows="10" cols="50"></textarea>

          <button>ADD</button>
    </form>
</body>
</html>