<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="Quora">Create a New Posts Here...........</h1>
    <div class="box">
        <form  method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter username">    <br><br>
        <textarea name="content" placeholder="Enter Content" rows="10" cols="25"></textarea>
        <button>Edit</button>
    </form>

    </div>
    
</body>
</html>