body{
    background-color: rgba(190, 216, 238, 0.975);
}
.username{
    font-style: italic;
}
.Quora{
    color: rgba(133, 14, 14, 0.77)
}
.box{
    background-color: rgba(219, 137, 55, 0.8);
}
