#container{
    height: 40px;
    width:80%;
    border: 3px solid lightblue;
    border-radius: 5px;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    
}
#container div{
    height: 20px;
    width:10%;
  
    
}