section{
    margin: 100px;
    background-color: aqua;
    display: inline-block;
    box-shadow: 20px 2px 100px yellow;
}
div{
    text-align: center;
    height: 50px;
    width: 200px;
    margin:30px;
    border: 2px solid black;
}
div:nth-of-type(2n+1){
    background-color: 	#517203f2;
}
div:nth-of-type(2n){
    background-color: #153313b2;
}
#one{
    transform: rotate(-45deg);
    

}
#two{
   transform: scale(1.2);
   transform: skew(30deg) translatey(159px);


}
#three{
    transform:rotate(90deg) scale(0.7) skewx(10deg) translatey(200px);

}
#four{
transform: translate(232px, 110px);
}
#five{
transform: translatey(80px);
}