*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  	
}
header h1{
  color: 	#b45363;
}

header h1 button{
 background-color: 	#8492aa;
}
 header h1 button:active{
  text-decoration: line-through

}
main div h3::first-letter{
  background-color:  rgb(221, 221, 70);
}
nav a{
  color: 	#b45363;
}
header nav #ul li a{
   text-decoration: none;
}

main p:nth-of-type(1n){
 background-color:	#f2d6da;
}
main button{
  background-color: #e392a4;
}
main button:hover{
  background-color: 	#8492aa;

}
